[BOARD]
BoardSize = 30
; DiceAssignment = ; flat orig
DiceAssignment = orig
; AreaAssignment = ; continuous orig
AreaAssignment = orig

[GAME]
MaxDicePerArea = 8
; DeploymentMethod = ; limited unlimited
DeploymentMethod = limited

[AI_DRIVER]
; on the limit of transfers is exceeded, AIDrives takes over and sends an end_turn. Does not disable the AI for next turns.
MaxTransfersPerTurn = 2
